<app-navbar></app-navbar>
<app-header></app-header>
<h1>
    Contact us
</h1>

<form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
    <h5 *ngIf="success">Your form is valid!</h5>
    <label for="name">Name
        <input type="text" formControlName="name">
        <div *ngIf="submitted && messageForm.controls.name.errors" class="error">
            <div *ngIf="submitted && messageForm.controls.name.errors.required">Sorry, this is required!</div>
        </div>
    </label>

    <label for="message">Message
        <input type="text" formControlName="message">
        <div *ngIf="submitted && messageForm.controls.message.errors" class="error">
            <div *ngIf="submitted && messageForm.controls.message.errors.required" class="error">Sorry, this is required!</div>
        </div>
    </label>

    <input type="submit" value="Send message" class="cta">
    <div *ngIf="submitted" class="results">
        <strong>Name: </strong>
        <span>{{ messageForm.controls.name.value }}</span>
        <strong>Message: </strong>
        <span>{{ messageForm.controls.message.value }}</span>
    </div>
</form>